html body{
    height: 100%;
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "article"
    "footer";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header{
    grid-area: header;
    position: sticky;
    top: 0;
    background: rgb(14, 14, 173);
    width: 100%;
    height: 62px;
    z-index: 100000000;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo" "nav"; */
}
/* header #logo{
    grid-area: logo;
    width: 124px;
    height: 58px;

} */
article{
    grid-area: article;
    background: white;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
footer{
    grid-area: footer;
    background: rgb(248, 245, 245);
    width: 100%;
    height: 100px;
    
}
header nav{
    /* grid-area: nav; */
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}
.btntxtclass{
    color: #fff;
    text-decoration: none;
}
.buttonclass{
    display: flex;
    justify-content: center;
    background: #1B98F8;
    border-radius: 20px;
    margin: 16px auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 20px;
    width: 70px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header nav div:hover{
    animation-name: v1;
    animation-duration: 1s;
    animation-delay: 0.01s;
}
@keyframes v1{
    0%{
        transform: rotate(-2deg);
        background: #1B98F8
    }
    50%{
        transform: rotate(2deg);
        background: rgb(27, 86, 248);
    }
    100%{    
        transform: rotate(-2deg);
        background: #1B98F8;
    }
}
#footertxt{
    margin-top: 73px;
    margin-left: 393px;
}   
article img{
    border: solid 3px rgb(170, 151, 151);
    margin-right: 80px;
    margin-top: 50px;
    width: 420px;
    height: 560px;
}
#articletxt{
    width: 500px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 60px;
}
h1{
    font-size: 35px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
#readmore{
    display: flex;
    justify-content: center;
    background: #1B98F8;
    border-radius: 20px;
    margin: 16px auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 20px;
    width: 100px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
#readmore:hover{
    animation-name: v1;
    animation-duration: 1s;
    animation-delay: 0.01s;
}
#detailbox{
    width: 400px;
    height: 550px;
    border: solid 2px black;
    position: absolute;
    left: 90px;
    top: 120px;
    /* top: 155px; */
    background: cornflowerblue;
}
#detailbox:hover{
    background: rgb(153, 177, 221);
}
#submitbutton{
    margin-top: 15px;
}
#submitbutton:hover{
    animation-name: v1;
    animation-duration: 1s;
    animation-delay: 0.01s;
}
#h2detailbox{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
}
#fname{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#lname{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
#firstname{
    /* margin-top: 30px; */
}
#lastname{
    margin-top: 20px;
}
#contactimg{
    width: 711px;
    height: 500px;
    margin-left: 304px;
    margin-top: 200px;
    border: none;
}
#contactarticle{
    background: #fdfdfd;
}
#message{
    margin-top: 15px;
    margin-left: 26px;
}
article #submittxt{
    width: 350px;
    height: 350px;
    margin-top: 190px;
    margin-left: 304px;
    z-index: 600;
}
#returnBtn{
    width: 180px;
    margin-left: 23px;
}
#returnBtn:hover{
    animation-name: v1;
    animation-duration: 1s;
    animation-delay: 0.01s;
}
#submittxt #fourZeroFourtxt{
    font-size: 100px;
    font-family: fantasy;
}   
#laptop404background{
    z-index: 500;
    position: absolute;
    left: 380px;
    top: 296px;
    width: 565px;
    height: 440px;
    border: none;
}
#submitimg{
    width: 960px;
    height: 346px;
    border: none;
    position: absolute;
    z-index: 600;
    left: 10px;
    top: 395px;
}
/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */
.aboveTxt a{
    font-size: 40px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 600;
    text-decoration: none;
}
.aboveTxt a:hover{
    color: rgb(107, 240, 46);
    transition: linear 0.2s;
}
.cubeimage{
    z-index: 500;
    width: 370px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: solid 2px white;
}
#cubeimagesolutions{
    margin-left: 80px;
    margin-top: 15px;
    background: #1B98F8;
    position: absolute;
    left: 0px;
    top: 294px;
}
#cubeimageachievements{
    width: 500px;
    background: #1B98F8;
    position: absolute;
    left: 57px;
    top: 152px;
}
#cubeimagestory{
    width: 500px;
    background: #1B98F8;
    position: absolute;
    left: -26px;
    top: 230px;
}
#leftabsoluteblock{
    background: linear-gradient(to right, #1b56f8, #1B98F8);
    height: 100%;
    width: 124px;
    position: absolute;
    top: -37px; 
    left: 0px;
    z-index: 600;
}
#seattlepanorama{
    height: 838px;
    width: 1920px;
    z-index: 2;
    position: absolute;
    left: 55px;
    top: -95px;
    border: none;
}

#aboutarticle{
    display: flex;
    flex-direction: column;
}
/* hovers-about */

.cubeimage:hover{
    transition: linear 0.5s;
    width: 700px;
}
#cubeimageachievements:hover{
    background: rgba(14, 14, 173, 0.6);
    border: black solid 2px;
    width: 700px;
}
#cubeimagesolutions:hover{
    background: rgba(14, 14, 173, 0.6);
    border: black solid 2px;
    width: 500px;
}
#cubeimagestory:hover{
    background: rgba(14, 14, 173, 0.6);
    border: black solid 2px;
    width: 700px;
}
/* GALLERY */
/* GALLERY */
/* GALLERY */
/* GALLERY */
/* GALLERY */
#articlegallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img" "img"
    "img" "img"
    "img" "img";
    height: 1050px;
}
.galleryimage{
    width: 450px;
    height: 300px;
    margin-left: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.galleryimage:hover{

}
/* LIGTHBOX */
/* LIGTHBOX */
/* LIGTHBOX */
/* LIGTHBOX */
/* LIGTHBOX */
#lightbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000000;
    background: rgba(0,0,0,0.43);
}
#lightbox img{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.63);
}
















/* media */
/* media */
/* media */

@media(max-width:360px){
    #articlegallery{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img"
    "img"
    "img"
    "img"
    "img"
    "img";
    height: 1500px;
    }
}

